::-webkit-scrollbar, ::-webkit-scrollbar-button,
#webframe::-webkit-scrollbar, #webframe::-webkit-scrollbar-button { display: none; }
body {
    background-color: black;
    color: gainsboro;
}
#main {
    margin: auto;
    width: 90%;
    padding-top: 15px;
    text-align: center;
}
.zefmenu {
    zoom: 2.3;
    border-radius: 5px;
    font-size: x-small;
    background-color: purple;
    border-color: plum;
    color: gainsboro;
    margin-bottom: 3px;
}

#logo {
    border: 0px;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    left: 3px;
}

#logo img {
    width: 32px;
    height: 32px;
}

#mode {
    float: right;
    font-size: xx-small;
}
#reload {
    position: absolute;
    bottom: 3px;
    right: 3px;
    scale: 1;
}

.showcss{ display:inline;}
.hidecss{ display:none;}
#lblMessage {
    font-size: x-small;
}

#wrapper, #webframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 240px;
    border: 0px; 
}

#webframe {
    display: none;
}